*{
	margin: 0;
	padding: 0;
	/*font-family: 'Rancho', 'Orbitron';*/
	font-family: sans-serif;
}

html{
	height: 100%;
	width: 100%;
}

body{
	background-color: #334;
	background-image: url("../imgs/night_sky.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%; 
	overflow: hidden;
}

.meteor{
	position: absolute;
	top: -172px;
}

.meteor img{
	display: block;
	width: 85px;
	margin: 0 auto;
}

.meteor label{
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	display: block;
}

#table{
	position: relative;
	z-index: 3000;
}

#levels{
	position: relative;
	z-index: 3001;
	color: #efefef;
	text-shadow: 5px 5px #111;
	top: 110px;
}
 td
        {
            vertical-align:middle;
            font-family:Algerian;
            font-size:20px;
            font-weight:normal;
            padding:0 10px;
            color: #e6ac00;
        }
		div.Lives 
        {
       		 max-width:200px;width:100%;padding:20px;margin-top:30PX;
       		 float: right;
       		
        }
        .Lives img 
        {
        	
			width: 30px;
			height: 30px;
			margin: 0 auto;
        }
         p {
            text-align: center;
            font-family:Algerian;
            font-size:100px;
            font-weight:normal;
            padding:200px;
            color: #e6ac00;
            margin:auto;
            
        }